<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frontend Skills</h2>
            <p>I'm on a mission to turn ideas into visually captivating digital experiences. Armed with the latest tools, I use Figma to translate designs seamlessly into HTML, ensuring pixel-perfect precision. My front-end arsenal includes Bootstrap, CSS, HTML, and JavaScript, allowing me to create not just functional but visually striking layouts. Leveraging React library, I build dynamic and responsive user interfaces that elevate your project to the next level. Let's collaborate to bring your vision to life with a modern and engaging front-end!</p>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">
        
                <div class="progress">
                    <span class="skill">Bootstrap <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
        
                <div class="progress">
                    <span class="skill">CSS <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
        
                <div class="progress">
                    <span class="skill">HTML <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
        
            </div>
        
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        
                <div class="progress">
                    <span class="skill">JavaScript <i class="val">75%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
        
                <div class="progress">
                    <span class="skill">Photoshop <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
        
                <div class="progress">
                    <span class="skill">React <i class="val">60%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
        
            </div>
        
        </div>
        

    </div>
</section><!-- End Skills Section -->